body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

@layer utilities {
  .font-italic {
    font-style: italic;
  }
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.th-1 {
  width: 50px;
}

.th-2 {
  width: 50px;
}

.th-3 {
  width: 300px;
}

tr {
  text-align: center;
}
